.body-html{
	font-family: Noto Sans, sans-serif;
	background-color:  #ff8080;
	margin:0px;
	padding: 0px;
	color: #f2f2f2;

}

.body-size {
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    align-content: center;

}

.navbar {
	height: 55px;
	width: auto;
	list-style: none;
	background-color: #ffe6e6;
}

.nav-words{
	color: #c32232;
    text-decoration: none;
}

.about-words{
	font-size: 2rem;
}

