.body-html{
	font-family: Noto Sans, sans-serif;
	background-color:white;
	margin:0px;
	padding: 0px;
	color: black;

}

.body-size {
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    align-content: center;

}

.navbar {
	height: 55px;
	width: auto;
	list-style: none;
	background-color:#a70101e8;
}

.nav-words{
	color: black;
    text-decoration: none;
}
.navbar-text:hover{
	color: white;
}

.about-words{
	font-size: 2rem;
}

