.body-html{
	font-family: Noto Sans, sans-serif;
	background-color:#ffdacc;
	margin:0px;
	padding: 0px;
	color: black;
	height: auto;
	position: relative;
}

.body-size {
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    align-content: center;
}

.navbar {
	height: 55px;
	width: auto;
	list-style: none;
	background-color:#a70101e8;
}

.nav-words{
	color: black;
    text-decoration: none;
}
.navbar-text:hover{
	color: white;
}

.about-words{
	font-size: 1rem;
}

.jumbotron{
	background-color: transparent;
	padding:4rem 33rem;
	position: relative;
	height: auto;
}

.btn-primary{
	background-color:#a70101e8;
	color:white;
	width:150px; 
	align-items: center;
}

.btn-primary-block:hover{
	background-color: #a70101ad;
}

.login-words{
	font-size: 1rem;
	padding-bottom: 15px;
}

/*.form-control-plaintext{
	padding: .375rem .75rem;
	border: 1px solid #ced4da;
    border-radius: auto;
    padding-left: 5px;
}*/

.register-fields{
    height: 55px;
    padding-right: 30px;
    padding-left: 20px;
}

.form-control-plaintext {
    border: 1px solid black;
   
}

.jumbotron-register{	
	background-color: transparent;
	padding:4rem 25rem;
	font-size: 1rem;
	position: relative;
	height: auto;
}

.album-card{
	max-width:40%;
}

.album-row{
	width: 100%;
}

.add-album-words{
	padding-left: 0px;
}

.add-image{
	height: 35px;
    padding-right: 30px;
    padding-left: 20px;
    font-size:smaller;
}

@media screen and (max-width: 600px) {
	.jumbotron.responsive {position: relative;}
	.body-html.responsive {position: relative;}
}