{% extends "index.html" %}

{% block title %} <title> About Page </title> {% endblock title %}

{% block body %}
<div class = "body-html body-size">
	<div class = "container text-center about-words">
		<br>
		They say that a photo can speak a thousand words. This is a site that gives photographers the opportunity to tell a story through their photo collections. Users are able to create their own accounts and share their photos while also viewing the photos of fellow photographers. 	
		This website is inspired by my cousin, Farhana Sufian, who introduced me to the wonders of photography.
		<br>
		This project implements Python Flask for the frontend and MongoDB for the backend. 
	</div>
</div>
{% endblock %}