{% extends "index.html" %}
{% block title %} <title> New Album Page </title> {% endblock title %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
	<ul class = flashes>
		{% for message in messages %}
		<div class = "alert alert-danger">
			<p> {{message}}</p>
		</div>
		{% endfor %}
	</ul>
	{% endif %}
{% endwith %}
	<div class = "jumbotron">
		<div class = "container text-center login-words"> Create A New Album Entry Here! </div>
		<form method = post enctype=multipart/form-data>
			<div class = "form-group row">
				<label for = "inputAlbumName" class = "col-form-label col-sm-2 add-album-words"> Album Name </label>
					<div class = "register-fields col-sm-10">
						<input type="name" class= "form-control" name="name" value = "{{request.form.name}}">
					</div>
			</div>

			<div class = "form-group row">
				<label for = "inputDescription" class = "col-form-label col-sm-2 add-album-words"> Album Description </label>
					<div class = "register-fields col-sm-10">
						<input type="description" class= "form-control" name="description" value = "{{request.form.description}}">
					</div>
			</div>

			<div class = "form-group row">
				  <label for="files" class = "col-form-label col-sm-2 add-album-words">Select Photos:</label>
				<div class = "add-image col-sm-10">
  				  	<input type="file" id = "image" name="image" multiple><br><br>
  				</div>
			</div>
			<div class = "text-center">
				<button type = "submit" class = "btn btn-primary btn-primary-block text-center"> Add Album </button>
			</div>
		</form>
	</div>

{% endblock %}