{% extends "index.html" %}
{% block title %} <title> Home Page </title> {% endblock title %}

{% block body %}

		<div class = "text-center">
			<a href="{{url_for('newAlbum')}}" class="btn btn-primary btn-primary-block"> Add New Album! </a>
		</div>
		
		<div class = "body-html body-size">
		{% for album in albums %}
		<p></p>
		<div class="card mb-3" style="max-width: 540px;">
		  <div class="row no-gutters">
		    <div class="col-md-4">
		    {% for image in coverImages %}
		    	{% if image in album.images %}
		      		<img src="{{image}}" height= "200" width = "400" class="card-img" alt="...">
		      	{% endif %}
		     {% endfor %}
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title">{{album.name}}</h5>
		        <p class="card-text">{{album.description}}</p>
		        {% for user in users %}
			        {% if album.owner_id == user.user_id %}
				        <p class="card-text"><small class="text-muted"> Owner: {{user.firstname}} {{user.lastname}}</small></p>
			        {% endif %}
		        {% endfor %}
		      </div>
		      <div class = "text-center">
		      <a href="{{url_for('viewAlbum', albumID = album.album_id)}}" class="btn btn-primary btn-primary-block">Check It Out!</a>
		      <a href="{{url_for('updateAlbum', albumID = album.album_id)}}" class="btn btn-primary btn-primary-block">Update Album</a>
		  </div>
		    </div>
		  </div>
		</div>
		{% endfor %}
	</div>

{# Javascript Lines from https://getbootstrap.com/docs/4.3/getting-started/introduction/ #}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}