{% extends "index.html" %}
{% block title %} <title> Home Page </title> {% endblock title %}

{% block body %}
<div class = "body-html body-size">
	<div class = "container text-center">
	<h3>
 			{% for album in albums %}
			<p> Album: {{album.album_id}}</p>
			<p> {{album.name}}</p>
			<p> {{album.description}}</p>

			{% for image in img %}
			 <img src="{{image}}" height= "350" width = "350" />
			{% endfor %}
			{% endfor %}
	</h3>

	<h2>
		{% for user in users %}
		<p> First Name: {{user.firstname}} </p>
		<p> Last Name: {{user.lastname}} </p>
		{% endfor %}
	</h2>
	<p>
		Created by Fabliha Hossain :) 
	</p>
	</div>
</div>

{# Javascript Lines from https://getbootstrap.com/docs/4.3/getting-started/introduction/ #}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}