<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			{% block title %} <title> Photography Website </title> {% endblock %}

			{% block styles %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

			<link rel = "stylesheet" href="{{url_for('static', filename = 'stylesheet.css')}}">
			{% endblock styles %}
		{# Navigation Bar #}
			<nav class = "navbar navbar-expand-sm justify-content-center">
				<a class = "navbar-brand nav-words navbar-text" href="{{url_for('index')}}">Tahiya Click</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>
				<div class= "collapse navbar-collapse" id="navbarNav">
					<li class = "nav-item" >
						<a class = "nav-link nav-words navbar-text" href="{{url_for('about')}}"> About </a>
					</li>
					<li class = "nav-item">
						<a class = "nav-link nav-words navbar-text" href="{{url_for('albums')}}"> My Albums </a>						
					</li>
					{% if not session['username'] %}
					<li class = "nav-item">
						<a class = "nav-link nav-words navbar-text" href="{{url_for('register')}}"> Register</a>
					</li>
					{% endif %}
					{% if not session['username']%}
					<li class = "nav-item">
						<a class = "nav-link nav-words navbar-text" href="{{url_for('login')}}"> Log In</a>
					</li>
					{% endif %}
					{% if session['username'] %}
					<li class = "nav-item">
						<a class = "nav-link nav-words navbar-text" href="{{url_for('logout')}}"> Log Out</a>
					</li>
					{% endif %}
				</div>
			</nav>
		{% endblock head%}
	</head>
		<body class = "body-html body-size">
		{% block body %}
			<div id="body-html body-size">{% block content %} {% endblock %}</div>
			<h3 class = "text-center" style = "font: Verdana">
				Created by Fabliha Hossain
		</body>
		{% endblock %}
</html>