<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			{% block title %} <title> Photography Website </title> {% endblock %}

			{% block styles %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

			<link rel = "stylesheet" href="{{url_for('static', filename = 'stylesheet.css')}}">
			{% endblock styles %}
		{% endblock head%}
	</head>
		<body>
		{% block body %}
			<div id="body-html body-size">{% block content %}
				{% endblock %}
			</div>
		{% endblock body %}
	</body>
</html>