{% extends "index.html" %}

{% block title %} <title> Login Page </title> {% endblock title %}

{% block body %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class = flashes>
						{% for message in messages %}
						<div class = "alert">
							<p> {{message}}</p>
						</div>
						{% endfor %}
					</ul>
					{% endif %}
				{% endwith %}

<body>
	<div class =  "body-html body-size">
	<div class = "jumbotron">
		<div class = "container text-center login-words"> Please Log Into Your Account </div>
		<form method = post>
			<div class = "form-group login-words">
				<label for = "inputUsername"> Username </label>
				<input type="username" class = "form-control" name="username" value = "{{request.form.username}}">
			</div>
			<div class = "form-group login-words">
				<label for ="inputPassword"> Password </label>
				<input type="password" class = "form-control" name="password" value = "{{request.form.password}}">
			</div>
			<div class ="text-center">
				<button type = "submit" class = "btn btn-primary btn-primary-block"> Login </button>
			</div>
		</form>
	</div>

	<div class = "text-center">
		New To The Site? Register Here! <br><a href="{{url_for('register')}}" class = "btn btn-primary btn-primary-block">Register</a>
	</div>
</div>
</body>
{% endblock body %}

<!-- credit to https://stackoverflow.com/questions/45129385/how-to-center-a-button-in-bootstraps-jumbotron-->
<!--Credit to https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->