{% extends "index.html" %}
{% block title %} <title> Insert Album Title Here </title> {% endblock title %}

{% block body %}

			<div class ="text-center">
				<a href="{{url_for('updateAlbum', albumID = album.album_id)}}" class="btn btn-primary btn-primary-block">Update Album</a>
			</div>
<div class = "body-html body-size">
	<div class = "container text-center">
<!-- 		<h1 class="display-8">{{album.name}}</h1>
		<h1 class="display-9">{{album.description}}</h1> -->
		<h3>
  			{{album.name}}
  			<br>
  	<small class="text-muted">Description: {{album.description}}</small>
</h3>
		
	</div>
	<div>
		{% for image in img %}
			<img src="{{image}}" height= "350" width = "350"/>
		{% endfor %}
	</div>
</div>

{% endblock %}